{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static '/css/main.css' %}"
      type="text/css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
      integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Engin FullStack Developer</title>
  </head>
  <body>
    <!-- <h3>Hello World!!</h3>

     -->
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body">
            <img id="profile-pic" src="{% static 'images/engin.jpg' %}" alt="">
            <br>
            <h4>Hi I am Engin!</h4>
            <p>I love coding, doing research and collabrating</p>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card card-body"></div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body"></div>
        </div>
        <div class="col-md-6">
          <div class="card card-body"></div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body"></div>
        </div>
        <div class="col-md-6">
          <div class="card card-body"></div>
        </div>
      </div>
    </div>
  </body>
</html>
